<!DOCTYPE html>
<html>
<head>
    <title><%= title %></title>
    <link rel="stylesheet" href="/stylesheets/room_desktop.css">
</head>
<body>
<p>This is an Aura room, please turn on the light.</p>
<a id='lightSwitch' href='#'>Switch</a>
<input id='dimmer' type='range' min='0' max='30' step='1' value='15'>
<!-- WAMP connection library -->
<script src="/javascripts/autobahn.js"></script>
<script data-main='/javascripts/mainroom.js' src='//cdnjs.cloudflare.com/ajax/libs/require-jquery/0.25.0/require-jquery.min.js'></script>
</body>
</html>