<!DOCTYPE html>
<html>
<head>
    <title>Sun</title>
    <link rel="stylesheet" href="/stylesheets/sun_desktop.css"/>
</head>
<body>
<input id='dimmer' type='range' min='0' max='30' step='1' value='15'>
<div class="sunburst">
    <div class="outer">
        <b></b><b></b><b></b><b></b><b></b><b></b><b></b><b></b><b></b><b></b>
    </div>
</div>
<!-- WAMP connection library -->
<script src="/javascripts/autobahn.js"></script>
<script data-main="/javascripts/mainsun.js" src="//cdnjs.cloudflare.com/ajax/libs/require-jquery/0.25.0/require-jquery.min.js"></script>
</body>
</html>