<!DOCTYPE html>
<html>
<head>
    <title>Sun</title>
    <link rel="stylesheet" href="/stylesheets/sun_desktop.css"/>
</head>
<body>
<input id='dimmer' type='range' min='0' max='30' step='1' value='15'>
<div class="sunburst">
    <div class="outer">
        <b></b><b></b><b></b><b></b><b></b><b></b><b></b><b></b><b></b><b></b>
    </div>
</div>
</body>
</html>