<!DOCTYPE html>
<html>
<head>
    <title>Sun Mobile</title>
</head>
<body>
<div class="sunburst">
    <div class="outer">
        <b></b><b></b><b></b><b></b><b></b><b></b><b></b><b></b><b></b><b></b>
    </div>
</div>
</body>
</html>