<!DOCTYPE html>
<html>
<head>
    <title>Sun</title>
    <link rel="stylesheet" href="/stylesheets/sun_desktop.css"/>
</head>
<body>
<div id="sun"></div>
<div class="sunburst">
    <div class="outer">
        <b></b><b></b><b></b><b></b><b></b><b></b><b></b><b></b><b></b><b></b>
    </div>
</div>
</body>
</html>