<section class="message">
		<span class="name"><%= data.name %></span>
		<span class="messageContent"><%= data.msg %></span>
		<!-- this aims for the next update -->
		<section id="messageWrap"></section>
</section>